body {
    transition: all 0.3s ease-in;
} 

a>i:hover {
    opacity: 0.8 !important;
}

button {
    color: #ffffff;
}
button:hover {
    opacity: 0.8 !important;
    box-shadow: none !important;
}

button:focus, .btn:focus{
    box-shadow: none;
}

#quote-author {
    font-style: italic;
}

#quote-placeholder {
    font-size: 25px;
    font-family: Segoe UI;
}

footer{
    color: #999;
    text-align: center;
}